<link rel="stylesheet" type="text/css" href="<%=url("css/account.css")%>" >
<div class="account" >
    <div class="fantasy-info">
        <div class="fantasy-details">
            <h3 class="tournament-name-header fantasy-header">
                Tournament
            </h3>
            <h3 class="fantasy-selections-header fantasy-header">
                Selections
            </h3>
            <h3 class="fantasy-score-header fantasy-header">
                Score
            </h3>
            <% @submissions.each do |submission| %>
                <div class="tournament-name">
                    <%= "#{submission.tournament.tournament_name} (#{submission.gender}) "%>
                </div>
                <div class="fantasy-selections">
                    <div class="fantasy-entry fantasy-entry-one">
                        <%= submission.choice_one&.name %>
                    </div>
                    <div class="fantasy-entry fantasy-entry-eleven">
                        <%= submission.choice_eleven&.name || "no pick" %>
                    </div>
                    <div class="fantasy-entry fantasy-entry-twenty-one">
                        <%= submission.choice_twenty_one&.name || "no pick"%>
                    </div>

                </div>
                <div class="fantasy-score">
                    <%= submission.score %>
                </div>
            <% end %>
        </div>
        <div class="logout">
            <a href="/logout">Log Out</a>
        </div>
        <div class="reset-password">
            <a href="/account/reset_password">Reset Password</a>
        </div>
    </div>
</div>
