<link rel="stylesheet" type="text/css" href="<%=url("css/already_entered.css")%>" >
<div class="already-entered">
    <h4>Thanks for entering!  Your picks are:</h4><br />
    <div class="text">
        <div class="fantasy-selections">
            <div class="fantasy-entry fantasy-entry-one">
                <%= @submission.choice_one.name %>
            </div>
            <div class="fantasy-entry fantasy-entry-eleven">
                <%= @submission.choice_eleven.name %>
            </div>
            <div class="fantasy-entry fantasy-entry-twenty-one">
                <%= @submission.choice_twenty_one.name %>
            </div>
        </div>
    </div>
</div>
