<script id='report_error' src="<%= url("js/report_error.js")%>" type="text/javascript"></script>
<div class="gfycat-display">
    <div class="gfy">
        <div class="gfycat-info">
            <h4><%= @gfycat.tournament.tournament_name %></h4>
            <h4><%= @gfycat.to_s_links %></h4>
        </div>
        <video class="media" id="video-<%= @gfycat.gfycat_gfy_id %>" alt="fencing gfy" autoplay muted loop tabindex="-1">
            <source src="<%= @gfycat.raw_url%>" type="video/mp4" >
            <meta itemprop="contentUrl" content="<%= @gfycat.raw_url %>">
        </video>
        <div class="clip-subtext">
            <% if params['reported'] %>
                <div class="report-error">
                    Thank you!
                </div>
            <% else %>
                <div id="report-error" class="report-error" onclick="reportError('<%= @gfycat.gfycat_gfy_id %>');"">
                    <a href="#">Report Error</a>
                </div>
            <% end %>
            <div class="random-clip"><a href="/clip">Random clip</a> |
                <a href="/clip/?weapon=<%= @gfycat.weapon %>">Random Same Weapon</a> | <a href="/clip/?tournament=<%= @gfycat.tournament_id %>">Random Same Tournament</a></div>
        </div>
    </div>
    <div class="clip-form-div">
        <form class="clip-form form-inline" id="clip-form" action="/clip/submit" method="POST" >
            <div class="clip-form-intro">
                Please help us improve the quality of our data by answering a few questions:
            </div>
            <%= @questions %>
            <input id="gfycat-id" name="gfycat-id" value="<%= @gfycat.gfycat_gfy_id%>" hidden="true">
            <div class="form-group submit-button">
                <input type="submit" value="Submit" class="btn btn-default btn-lg"/><br />
                <label for=Submit">Just once.</label>
            </div>
        </form>
            <div class="credit">The questions for epee were developed by <a href="https://thefencingcoach.com">Damien Lehfeldt</a> and are used with his permission.</div>

    </div>
</div>
