<link rel="stylesheet" type="text/css" href="<%=url("css/error_report.css")%>" >
<div class="gfycat-display">
    <div class="clip">
        <div class="gfy-title">
            <%= @bad_gfy.to_s_links %>
        </div>
        <a href="/clip/<%=@bad_gfy.gfycat_gfy_id %>">
            <video class="media" id="video-<%= @bad_gfy.gfycat_gfy_id %>" alt="fencing gfy" autoplay muted loop poster="https://thumbs.gfycat.com/<%= @bad_gfy.gfycat_gfy_id %>-mobile.jpg" tabindex="-1">
                <source src="<%=@bad_gfy.raw_url %>" type="video/mp4">
                <meta itemprop="contentUrl" content="<%= @bad_gfy.raw_url %>">
            </video>
        </a>
    </div>
    <div class="update-form">
        <form class="error-form" method="POST" action="/admin/error_report">
            <input type="hidden" name="gfycat_gfy_id" value="<%= @bad_gfy.gfycat_gfy_id %>">
            <div class="question">
                <label for="fotl_name"> Left name: </label>
                <input name="fotl_name" class="name" placeholder="<%= @bad_gfy.fotl_name %>" />
            </div>
            <div class="question">
                <label for="fotr_name"> Right name: </label>
                <input name="fotr_name" class="name" placeholder="<%= @bad_gfy.fotr_name %>" />
            </div>
            <div class="question">
                <label for="left_score"> Left score: </label>
                <input type="number" name="left_score" class="score" placeholder="<%= @bad_gfy.left_score %>" />
            </div>
            <div class="question">
                <label for="right_score"> Right score: </label>
                <input type="number" name="right_score" class="score" placeholder="<%= @bad_gfy.right_score %>" />
            </div>
            <div class="question">
                <label for="validity">Valid?</label>
                <select name="validity">
                    <option name="valid" value="valid" selected>Valid</option>
                    <option name="touch-not-shown" value="touch-not-shown" selected>Touch Not Shown</option>
                    <option name="invalid" value="invalid" selected>Invalid</option>
                </select>
            </div>
            <div class="question">
                <label for="touch">Touch: </label>
                <select name="touch">
                    <% ['left', 'right', "double"].each do |t| %>
                        <% selected =  t == @bad_gfy.touch ? "selected='selected'" : '' %>
                        <option name="touch" value="<%= t %>" <%= selected %>><%= t.capitalize %></option>
                    <% end %>
                </select>
            </div>
            <div class="question">
                <input type="submit" value="Submit" class="btn btn-default btn-large"/><br />
            </div>
        </form>
    </div>
</div>
