<link rel="stylesheet" type="text/css" href="<%=url("css/fantasy_submission.css")%>" >
<div>
    <h2 class="fantasy-title"><%= @tournament_title %></h2>
    <div class="submission-form">
        <form class="form-inline fantasy-submission-form" id="fantasy-submission-form" action="/fantasy/submit" method="POST">
            <div class="entries-list">
                <label class="entries-header" for="entries-one">Seeds 1-10:</label><br />
                <% @entries[0...10].each do |entry| %>
                    <input type="radio" name="entries-one" id="<%= entry[:fie_id]%>" value="<%= entry[:fie_id]%>">
                    <label for="<%= entry[:fie_id] %>"><%= entry[:last_name] + ", " + entry[:first_name] %></label><br />
                    <div class="fantasy-stats">
                        <%= @stats[entry[:fie_id]] %>
                    </div>
                <% end %>
            </div>
            <% if @entries.length > 10 %>
                <div class="entries-list">
                    <label class="entries-header" for="entries-eleven">Seeds 11-20:</label><br />
                    <% @entries[10...20].each do |entry| %>
                        <input type="radio" name="entries-eleven" id="<%= entry[:fie_id]%>" value="<%= entry[:fie_id]%>"><label for="<%= entry[:fie_id] %>"><%= entry[:last_name] + ", " + entry[:first_name] %></label><br />
                        <div class="fantasy-stats">
                            <%= @stats[entry[:fie_id]] %>
                        </div>
                    <% end %>
                </div>
            <% else %>
                <div></div>
            <% end %>
            <% if @entries.length > 20 %>
                <div class="entries-list">
                    <label class="entries-header" for="entries-twenty-one">Seeds 21-30:</label><br />
                    <% @entries[20...30].each do |entry| %>
                        <input type="radio" name="entries-twenty-one" id="<%= entry[:fie_id]%>" value="<%= entry[:fie_id]%>">
                        <label for="<%= entry[:fie_id] %>"><%= entry[:last_name]  + ", " + entry[:first_name] %></label><br />
                        <div class="fantasy-stats">
                            <%= @stats[entry[:fie_id]] %>
                        </div>
                    <% end %>
                </div>
            <% else %>
                <div></div>
            <% end %>
            <div class="tournament">
                <input type="hidden" name="tournament-id" value="<%= @tournament.id %>">
            </div>
            <div class="gender">
                <input type="hidden" name="gender" value="<%= @gender %>">
                <div class="submit">
                    <input type="submit" value="Submit" class="btn btn-default btn-lg"/><br />
                </div>
            </div>
        </form>
                </div>
                <div class="submission-info">
                    <div class="fantasy-rules">
                        <h3 class="subtitle fantasy-subtitle">Rules</h3>
                        <ul>
                            <li>Select One Fencer From Each List</li>
                            <li>Your final score is the total points earned by the fencers you select</li>
                            <li>Submissions close late the night before the tournament starts.</li>
                        </ul>
                    </div>
                    <div class="glossary">
                        <h3 class="subtitle fantasy-subtitle">Glossary</h3>
                        <dl>
                            <dt>TS</dt>
                            <dd>Touches Scored</dd>
                            <dt>TR</dt>
                            <dd>Touches Received</dd>
                            <dt>V</dt>
                            <dd>Victories (all-time, database info only)</dd>
                            <dt>D</dt>
                            <dd>Defeats (all-time, database info only)</dd>
                        </dl>
                    </div>
                </div>
    </div>
