<link rel="stylesheet" type="text/css" href="<%=url("css/fantasy_results.css")%>" >
<% if @entries.count > 0 %>
    <div class="results">
        <h3 class="intro">Final Results</h3>
        <div class="entries">
            <% @entries.each do |entry| %>
                <div class="entry">
                    <div class="username">
                        <% if entry[:username] == current_user&.username %>
                            <b>
                        <% end %>
                        <% if @supporters.include? entry[:username] %>
                            <%= "#{entry[:username]} (FDB supporter - thank you!)" %>
                        <% else %>
                            <%= entry[:username] %>
                        <% end %>
                        <% if entry[:username] == current_user&.username %>
                            </b>
                        <% end %>

                    </div>
                    <div class="score">
                        <%= entry[:score] %>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
<% end %>
<div class="summary" >
    <h3 class="intro">Here's who was picked, and how often:</h3>
    <div class="seeds">
        <div class="seed">
            <h3 class="seed-header">1-10 Seeds</h3>
            <div class="seed-list top-seeds">
                <div class="seed-name">
                    Name
                </div>
                <div class="seed-count">
                    Number of Picks
                </div>
                <div class="seed-score">
                    Score
                </div>
                <% @top_seeds.each do |seed| %>
                    <div class="seed-name">
                        <%= seed.name %>
                    </div>
                    <div class="seed-count">
                        <%= seed[:count] %>
                    </div>
                    <div class="seed-score">
                        <%= seed[:score] %>
                    </div>
                <% end %>
            </div>
        </div>
        <div class="seed">
            <h3 class="seed-header">11-20 Seeds</h3>
            <div class="seed-list middle-seeds">
                <div class="seed-name">
                    Name
                </div>
                <div class="seed-count">
                    Number of Picks
                </div>
                <div class="seed-score">
                    Score
                </div>
                <% @middle_seeds.each do |seed| %>
                    <div class="seed-name">
                        <%= seed.name %>
                    </div>
                    <div class="seed-count">
                        <%= seed[:count] %>
                    </div>
                    <div class="seed-score">
                        <%= seed[:score] %>
                    </div>
                <% end %>
            </div>
        </div>
        <div class="seed">
            <h3 class="seed-header">21-30 Seeds</h3>
            <div class="seed-list bottom-seeds">
                <div class="seed-name">
                    Name
                </div>
                <div class="seed-count">
                    Number of Picks
                </div>
                <div class="seed-score">
                    Score
                </div>
                <% @bottom_seeds.each do |seed| %>
                    <div class="seed-name">
                        <%= seed.name %>
                    </div>
                    <div class="seed-count">
                        <%= seed[:count] %>
                    </div>
                    <div class="seed-score">
                        <%= seed[:score] %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
