<link rel="stylesheet" type="text/css" href="<%=  url("css/blog-index.css")%>">
<link rel="stylesheet" type="text/css" href="<%=url("css/fantasy.css")%>" >
<div class="fantasy-help">
    <h2 class="title fantasy-header"> How To Play Fantasy Fencing</h2>
    <p>Let's play fantasy fencing!  For each tournament, you choose three fencers.  After the event, you get as many points as they earn FIE points, and whoever has the most wins!  For example, if you pick the winner of a World Cup, you get 32 points for them. If your pick gets cut in pools, you get zero points.</p>
    <p>You can pick three fencers.  One fencer from seeds 1-10, one fencer from seeds 11-20, and one from seeds 21-30.  Below each fencer are some fun stats showing their win/loss, touches scored, and touched received, in case you think that's useful information.</p>
    <p>There are four categories to compete in!  The first is overall points.  Whoever has the most points across all events wins.  The second is single-event points.  The third and fourth are the same as before, except they're rarity-weighted.  The math is still in flux, but the intent is that the fewer people who pick the same fencer you do, the better, as long as the fencers you pick still do well.  Good luck!</p>
</div>
