<link rel="stylesheet" type="text/css" href="<%=url("css/fantasy.css")%>" >
<script id='fantasy_tab' src="<%= url("js/fantasy_tab.js")%>" type="text/javascript"></script>
<div class="fantasy">
    <h2 class="title fantasy-header">fantasy fencing</h2>
    <div class="leaderboards">
        <h4 class="subtitle fantasy-subtitle">Leaderboards</h4>
        <div class="leaderboard-header fantasy-subheader">
            <span class="leaderboard-subheader header overall-header" onclick="open_tab('leaderboard-overall', this)">Overall</span>
            <span class="leaderboard-subheader header" onclick="open_tab('leaderboard-single', this)">Single-Event</span>
            <span class="leaderboard-subheader header" onclick="open_tab('leaderboard-epee', this)">Epee</span>
            <span class="leaderboard-subheader header" onclick="open_tab('leaderboard-foil', this)">Foil</span>
            <span class="leaderboard-subheader header" onclick="open_tab('leaderboard-sabre', this)">Sabre</span>
            <span class="leaderboard-subheader header" onclick="open_tab('leaderboard-rarity', this)">Unique Pick Weighted</span>
        </div>
        <div class="leaderboard leaderboard-overall">
            <% @overall_top_ten.each_with_index do |spot, i| %>
                <% even = i % 2 == 1 ? "even-row" : "" %>
                <div class="leaderboard-username <%= even %>">
                    <% if @supporters.include? spot[:username] %>
                        <%= "#{spot[:username]} (FDB supporter - thank you!)" %>
                    <% else %>
                        <%= spot[:username] %>
                    <% end %>
                </div>
                <div class="leaderboard-score <%= even %>">
                    <%= spot[:total] %>
                </div>
            <% end %>
        </div>
        <div class="leaderboard leaderboard-single">
            <% @single_top_ten.each_with_index do |spot, i| %>
                <% even = i % 2 == 1 ? "even-row" : "" %>
                <div class="leaderboard-username <%= even %>">
                    <% if @supporters.include? spot[:username] %>
                        <%= "#{spot[:username]} (FDB supporter - thank you!)" %>
                    <% else %>
                        <%= spot[:username] %>
                    <% end %>
                </div>
                <div class="leaderboard-score <%= even %>">
                    <%= spot[:score] %>
                </div>
                <div class="leaderboard-event <%= even %>">
                    <%=spot[:tournament_name] %>
                </div>
            <% end %>
        </div>
        <div class="leaderboard leaderboard-epee">
            <% @epee_top_ten.each_with_index do |spot, i| %>
                <% even = i % 2 == 1 ? "even-row" : "" %>
                <div class="leaderboard-username <%= even %>">
                    <% if @supporters.include? spot[:username] %>
                        <%= "#{spot[:username]} (FDB supporter - thank you!)" %>
                    <% else %>
                        <%= spot[:username] %>
                    <% end %>
                </div>
                <div class="leaderboard-score <%= even %>">
                    <%= spot[:total] %>
                </div>
            <% end %>
        </div>
        <div class="leaderboard leaderboard-foil">
            <% @foil_top_ten.each_with_index do |spot, i| %>
                <% even = i % 2 == 1 ? "even-row" : "" %>
                <div class="leaderboard-username <%= even %>">
                    <% if @supporters.include? spot[:username] %>
                        <%= "#{spot[:username]} (FDB supporter - thank you!)" %>
                    <% else %>
                        <%= spot[:username] %>
                    <% end %>
                </div>
                <div class="leaderboard-score <%= even %>">
                    <%= spot[:total] %>
                </div>
            <% end %>
        </div>
        <div class="leaderboard leaderboard-sabre">
            <% @sabre_top_ten.each_with_index do |spot, i| %>
                <% even = i % 2 == 1 ? "even-row" : "" %>
                <div class="leaderboard-username <%= even %>">
                    <% if @supporters.include? spot[:username] %>
                        <%= "#{spot[:username]} (FDB supporter - thank you!)" %>
                    <% else %>
                        <%= spot[:username] %>
                    <% end %>
                </div>
                <div class="leaderboard-score <%= even %>">
                    <%= spot[:total] %>
                </div>
            <% end %>
        </div>
        <div class="leaderboard leaderboard-rarity">
            <% @rarity_weighted_top_ten.each_with_index do |spot, i| %>
                <% even = i % 2 == 1 ? "even-row" : "" %>
                <div class="leaderboard-username <%= even %>">
                    <% if @supporters.include? spot[:username] %>
                        <%= "#{spot[:username]} (FDB supporter - thank you!)" %>
                    <% else %>
                        <%= spot[:username] %>
                    <% end %>
                </div>
                <div class="leaderboard-score <%= even %>">
                    <%= spot[:total] %>
                </div>
            <% end %>
        </div>
        <div class="leaderboard leaderboard-single leaderboard-rarity-single">
            <% @foil_top_ten.each_with_index do |spot, i| %>
                <% even = i % 2 == 1 ? "even-row" : "" %>
                <div class="leaderboard-username <%= even %>">
                    <% if @supporters.include? spot[:username] %>
                        <%= "#{spot[:username]} (FDB supporter - thank you!)" %>
                    <% else %>
                        <%= spot[:username] %>
                    <% end %>
                </div>
                <div class="leaderboard-score <%= even %>">
                    <%= spot[:rarity_weighted_score] %>
                </div>
                <div class="leaderboard-event <%= even %>">
                    <%=spot[:tournament_name] %>
                </div>
            <% end %>
        </div>
    </div>
    <div class="competitions">
        <h4 class="subtitle fantasy-subtitle">Competitions</h4>
        <div class="comp-header fantasy-subheader">
            <span class="header upcoming-header comp-subheader" onclick="open_comp_tab('upcoming-competitions', this)">
                Upcoming
            </span>
            <span class="header previous-header comp-subheader" onclick="open_comp_tab('previous-competitions', this)">
                Previous
            </span>
        </div>
        <div class="competition upcoming-competitions">
            <% i = 0 %>
            <% @upcoming_tournaments.each do |tournament| %>
                <% tournament.genders.each do |gender| %>
                    <% even = i % 2 == 1 ? "even-row" : "" %>
                    <% i+= 1 %>
                    <div class="comp-name <%= even %>">
                        The <a href="/fantasy/<%= tournament.tournament_id %>/<%= gender %>"><%= tournament.tournament_name + " (#{gender} #{tournament.weapon})" %></a>
                    </div>
                <% end %>
            <% end %>
        </div>
        <div class="competition previous-competitions">
            <% i = 0 %>
            <% @previous_tournaments.each do |tournament| %>
                <% tournament.genders.each do |gender| %>
                    <% even = i % 2 == 1 ? "even-row" : "" %>
                    <% i+= 1 %>
                    <div class="comp-name <%= even %>">
                        The <a href="/fantasy/<%= tournament.tournament_id %>/<%= gender %>"><%= tournament.tournament_name + " (#{gender} #{tournament.weapon})" %></a>
                    </div>
                <% end %>
            <% end %>
        </div>
    </div>
    <div class="fantasy-rules"><a href="/fantasy/help">How To Play</a> | <a href="/fantasy?season=2023">2023</a> | <a href="/fantasy?season=2022">2022</a></div>
    <div class="fantasy-credit">Fantasy Fencing was created by <a href="https://www.youtube.com/c/slicersabre">Slicer Sabre</a></div>
</div>
