<link rel="stylesheet" type="text/css" href="<%=url("css/fencer.css")%>" >
<div class="fencer-info">
    <div class="fencer-bio">
        <div class="fencer-bio-header header">Fencer Details</div>
        <div class="fencer-name fencer-detail">Name: <%= @fencer.name %></div>
        <div class="fencer-country fencer-detail">Country Code: <%= @fencer.nationality %></div>
        <div class="total-touches fencer-detail">Total touches: <%= @left_touches.count + @right_touches.count %></div>
        <div class="fencer-hit-location fencer-detail">
            Favorite place to score: <%= @location.gsub("_", " ") %>
        </div>
        <% if @fencer.id == 283 %>
            <div class="hadzic">
                Please consider donating to <a href="https://rainn.org">RAINN</a>, a sexual assault hotline.
            </div>
        <% end %>
    </div>
    <%= erb :fencer_list_partial %>
</div>

<div class="heatmap">
    <div id="fotl-warning-box" class="heatmap-segment" style="background-color:<%= @color_map['fotl_warning_box'] || '#FFFFFF'%>;"></div>
    <div id="fotl-half" class="heatmap-segment" style="background-color:<%= @color_map['fotl_half'] || '#FFFFFF'%>;"></div>
    <div id="middle" class="heatmap-segment" style="background-color:<%= @color_map['middle'] || '#FFFFFF'%>;">This is still a WIP!  If you want data here, go rate some clips!</div>
    <div id="fotr-half" class="heatmap-segment" style="background-color:<%= @color_map['fotr_half'] || '#FFFFFF'%>;"></div>
    <div id="fotr-warning-box" class="heatmap-segment" style="background-color:<%= @color_map['fotr_warning_box'] || '#FFFFFF'%>;"></div>
</div>
