<link rel="stylesheet" type="text/css" href="<%=url("css/fencing_ai_stats.css")%>" >
<div class="fencing-ai-results">
    <% @results.entries.each do |gfycat, list| %>
        <div class="fencing-ai-result">
            <h4 class="fencing-ai-gfycat-name"><%= gfycat %></h4>
            <% list.each do |result| %>
                <div class="fencing-ai-keycode" ><%= result %></div>
            <% end %>
        </div>
    <% end %>
</div>
