<link rel="stylesheet" type="text/css" href="<%=url("css/error_report.css")%>" >
<script id='report_error' src="<%= url("js/report_error.js")%>" type="text/javascript"></script>
<div class="gfycat-display">
    <div class="clip">
        <div class="gfy-title">
            <%= @bad_gfy.to_s_links %><br/>
            <%= @bad_gfy.gfycat_gfy_id %>
        </div>
        <a href="/clip/<%=@bad_gfy.gfycat_gfy_id %>">
            <video class="media" id="video-<%= @bad_gfy.gfycat_gfy_id %>" alt="fencing gfy" autoplay muted loop tabindex="-1">
                <source src="<%=@bad_gfy.raw_url %>" type="video/mp4">
                <meta itemprop="contentUrl" content="<%= @bad_gfy.raw_url %>">
            </video>
        </a>
        <div id="report-error" class="report-error" onclick="reportError('<%= @bad_gfy.gfycat_gfy_id %>');"">
            <a href="#">Report Error</a>
        </div>
    </div>
    <div class="update-form">
        <form class="error-form" method="POST" action="/admin/fix_gfy">
            <input type="hidden" name="gfycat_gfy_id" value="<%= @bad_gfy.gfycat_gfy_id %>">
            <div class="question">
                <% if @bad_gfy.left_fencer_id == nil %>
                    <label for="fotl_name"> Left name: </label>
                    <% if @left_fencers.empty? %>
                        <input name="fotl_name">
                    <% else %>
                    <select name="fotl_name">
                        <% @left_fencers.each do |fencer| %>
                            <option name="<%= fencer.name %>" value="<%= fencer.name %>"><%= fencer.name %></option>
                        <% end %>
                    </select>
                    <% end %>
                <% end %>
            </div>
            <div class="question">
                <% if @bad_gfy.right_fencer_id == nil %>
                    <label for="fotr_name"> Right name: </label>
                    <% if @right_fencers.empty? %>
                        <input name="fot----r_name">
                    <% else %>
                        <select name="fotr_name">
                            <% @right_fencers.each do |fencer| %>
                                <option name="<%= fencer.name %>" value="<%= fencer.name %>"><%= fencer.name %></option>
                            <% end %>
                        </select>
                    <% end %>
                <% end %>
            </div>
            <div class="question">
                <input type="submit" value="Submit" class="btn btn-default btn-large"/><br />
            </div>
        </form>
    </div>
</div>
