<link rel="stylesheet" type="text/css" href="<%=url("css/head-to-head.css")%>" >
<div class="head-to-head-info">
    <div class="fencer-a-info">
        <div class="fencer-bio">
            <div class="fencer-bio-header header">Fencer Details</div>
            <div class="fencer-name fencer-detail">Name: <%= @fencer1.name %></div>
            <div class="fencer-country fencer-detail">Country Code: <%= @fencer1.nationality %></div>
            <div class="total-touches">Touches: <%= @fencer1_score %></div>
        </div>
    </div>
    <div class="head-to-head-bouts">
        <div class="header">Bouts</div>
        <% @bouts.each do |bout| %>
            <div class="head-to-head-bout">
                <%= bout.display %>
            </div>
        <% end %>
    </div>
    <div class="fencer-b-info">
        <div class="fencer-bio">
            <div class="fencer-bio-header header">Fencer Details</div>
            <div class="fencer-name fencer-detail">Name: <%= @fencer2.name %></div>
            <div class="fencer-country fencer-detail">Country Code: <%= @fencer2.nationality %></div>
            <div class="total-touches">Touches: <%= @fencer2_score %></div>
        </div>
    </div>
</div>
