<link rel="stylesheet" type="text/css" href="<%=url("css/help.css")%>" >
<div class="help" >
    <div class="api-help">
        <div class="help-subtitle">API Documentation</div>
        <div class="help-step">API Basics</div>
        <p>The API allows you to access fencer info, gfycat info, and derived info about tournaments and bouts.  It is still a work in progress, so let me know if you want any other data added.</p>
        <div class="help-step">Fencers</div>
        <p><code>GET /api/fencers/:fie_id</code></p>
        <p>Get fencer info by FIE ID.</p>
        <div class="help-step">Bouts</div>
        <p><code>GET /api/bouts</code></p>
        <p>Get info on all the bouts in the DB.</p>
        <div class="help-step">Tournaments</div>
        <p><code>GET /api/tournaments/:tournament_id?</code></p>
        <p>Get info on a tournament in the DB.  If you omit the ID, it'll give you all the tournaments in the DB.</p>
        <div class="help-step">Gfycats</div>
        <p><code>GET /api/clips/:gfycat_gfy_id?</code></p>
        <p>Get details of a gfycat.</p>
        <div class="help-step">Clips</div>
        <p><code>GET /api/clip/questions/:weapon?</code></p>
        <p>Get the questions we ask for a given weapon.  The response will be a list of questions.  Here's the format of a question:
            <ul>
                <li><code>type</code>: The type of question.  Right now they're all selects.</li>
                <li><code>id</code>: the id of the question.  Use this when submitting a response.
                <li><code>question</code>: The question text.</li>
                <li><code>note</code>: An explanatory note resolving some ambiguities in the question.</li>
                <li><code>options</code>: The list of possible responses.  Each contains a value that should be returned when you submit, and a display name for the answer.</li>
            </ul>
        </p>
        <p><code>GET /api/clips/:gfycat_gfy_id/answers</code></p>
        <p>Get all submitted answers for a given gfy.</p>
        <p><code>GET /api/clips/answers/:offset</code></p>
        <p>Get all answers in the db.  They will be returned 100 at a time, oldest to newest, starting at the offset.
        <p><code>POST /api/clip/submit</code></p>
        <p>Submit a response you collected on your own site.  The format should be a dict, where the key is the id of the question and the value is the value of the option selected.  Please also include the gfycat gfy id under the key 'gfycat-gfy-id'.
    </div>
</div>
