<link rel="stylesheet" type="text/css" href="<%=url("css/search.css")%>" >
<div name="touches" class="touches">
    <div class="touches-filter">
        <form class="search-filter-form" id="touches-filter-form" action="/">
            <%= erb :search_form_partial %>
            <div class="search-submit">
                <input type="submit" name="submit-search" value="Search Clips" class="submit-btn btn btn-default btn-lg" />
                <input type="submit" name="submit-search" value="Search Fencers" class="submit-btn btn btn-default btn-lg" />
                <input type="submit" name="submit-search" value="Random Clip" class="submit-btn btn btn-default btn-lg" />
            </div>
        </form>
    </div>
    <div class="touches-display">
        <% if params['page'] %>
            <div class="touches-pagination">
                <% if params['page'].to_i > 1 %>
                    <a href="?<%=@get_string%>&page=<%=params['page'].to_i - 1%>"><button class="btn btn-lg paginate-btn paginate-prev">Prev</button></a>
                <% end %>
                <% if @gfycats.count >= 10 %>
                    <a href="?<%=@get_string%>&page=<%=params['page'].to_i + 1%>"><button class="btn btn-lg paginate-btn paginate-next">Next</button></a>
                <% end %>
            </div>
        <% end %>
        <% if params['submit-search'] == 'Search Fencers' %>
            <div class="fencers">
                <%= erb :fencer_list_partial %>
            </div>
        <% else %>
            <div class="videos">
                <% @gfycats.each do |gfy| %>
                    <div class="video">
                        <a href="/clip/<%= gfy[:gfycat_gfy_id] %>">
                            <video class="media" id="video-<%= gfy[:gfycat_gfy_id] %>" alt="fencing gfy" autoplay muted loop tabindex="-1">
                                <source src="https://clips.fencingdatabase.com/<%=gfy[:tournament_id] %>/<%= gfy[:gfycat_gfy_id] %>.mp4" type="video/mp4" >
                            </video>
                        </a>
                    </div>
                <% end %>
            </div>
        <% end %>
        <% if params['page'] %>
            <div class="touches-pagination">
                <% if params['page'].to_i > 1 %>
                    <a href="?<%=@get_string%>&page=<%=params['page'].to_i - 1%>"><button class="btn btn-lg paginate-btn paginate-prev">Prev</button></a>
                <% end %>
                <% if @gfycats.count >= 10 %>
                    <a href="?<%=@get_string%>&page=<%=params['page'].to_i + 1%>"><button class="btn btn-lg paginate-btn paginate-next">Next</button></a>
                <% end %>
            </div>
        <% end %>
    </div>
</div>
