<!DOCTYPE HTML>
<html>
    <head>
        <title>Fencing Database</title>
        <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" >
        <link rel="stylesheet" type="text/css" href="<%=url("css/clip.css")%>" >
        <link rel="stylesheet" type="text/css" href="<%=url("css/stats.css")%>" >
        <link rel="stylesheet" type="text/css" href="<%=url("css/layout.css")%>" >
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    </head>
    <body>
        <script>
         (function(d, s, id){
             var js, fjs = d.getElementsByTagName(s)[0];
             if (d.getElementById(id)) {return;}
             js = d.createElement(s); js.id = id;
             js.src = "https://assets.gfycat.com/gfycat.js";
             fjs.parentNode.insertBefore(js, fjs);
         }(document, 'script', 'gfycat-js'));
        </script>
        <div class="container-fluid">
            <header>
                <div class="header-content">
                    <div class="navbar">
                        <div class="header-fencers">
                            <a href="/search">search</a>
                        </div>
                        <div class="header-stats">
                            <a href="/stats">stats</a>
                        </div>
                        <div class="header-title">
                            The Fencing Database
                        </div>
                        <div class="header-user">
                        <% if logged_in? %>
                            <a href="/reels">Highlight Reels</a>
                        <% else %>
                            <a href="/login">Log In</a>
                        <% end %>
                        </div>
                        <div class="header-random">
                            <% if logged_in?%>
                                <a href="/logout">Log Out</a>
                            <% else %>
                                <a href="/signup">sign up</a>
                            <% end %>
                        </div>
                    </div>
                </div>
            </header>
            <div class="content">
                <%= yield%>
            </div>
            <footer class="footer">
                <div class="footer-links">
                    <a href="https://github.com/sdubinsky/fencing-database" target="_blank">Github</a> |
                    <a href="/docs">API Documentation</a> |
                    <a href="https://ko-fi.com/fencingdatabase" target="_blank">Buy me coffee!</a>
                </div>
            </footer>
    </body>
</html>
