<!DOCTYPE HTML>
<html>
    <head>
        <title>Fencing Statistics</title>
        <link rel="stylesheet" type="text/css" href="<%= url("css/bootstrap-3.3.7-dist/css/bootstrap.min.css")%>"
    </head>
    <body>
        <div class="container-fluid">
            <header>
            </header>
            <div class="content">
                <%= yield%>
            </div>
        </div>
    </body>
</html>
