<!DOCTYPE HTML>
<html>
    <head>
        <title>The Fencing Database</title>
        <meta name="title" content="The Fencing Database">
        <meta property="og:title" content="The Fencing Database">
        <meta property="og:image" content="https://clips.fencingdatabase.com/fanxan-logo-bw-transparent.png">
        <% if request.url.include? 'clip' %>
            <meta property="og:description" content="<%= @gfycat.to_s %>">
            <meta property="og:url" content="<%= @gfycat.raw_url %>">
            <meta property="og:video:url" content="<%= @gfycat.raw_url %>">
            <meta propery="og:video" content="<%=  @gfycat.raw_url %>">
            <meta property="og:video:secure-url" content="<%= @gfycat.raw_url %>">
            <meta property="og:type" content="video.other">
            <meta propery="og:video:width" content="1280">
            <meta property="og:video:height" content="720">
        <% elsif request.url.include? "fencer" %>
            <meta property="og:description" content="<%= @fencer&.name %>">.
        <% elsif request.url.include?("fantasy") && @tournament %>
            <meta property="og:description" content="<%= @tournament.display_name %>">
        <% elsif request.url.include? "fantasy" %>
            <meta property="og:description" content="Fantasy for the <%=@season %> season">
        <% else %>
            <meta property="og:url" content="<%= request.url %>">
            <meta property="og:description" content="clips, fantasy, and more">
        <% end %>
        <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" >
        <link rel="stylesheet" type="text/css" href="<%=url("css/clip.css")%>" >
        <link rel="stylesheet" type="text/css" href="<%=url("css/stats.css")%>" >
        <link rel="stylesheet" type="text/css" href="<%=url("css/layout.css")%>" >
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    </head>
    <body>
        <header>
            <div class="header-content">
                <div class="header-title">
                    <img class="logo-img" src="https://clips.fencingdatabase.com/fanxan-logo-bw-transparent.png" alt="logo" />
                    <a class="header-site-name" href="/">Fencing Database</a>
                </div>
                <div class="header-links" id="header-links">
                    <a href="/fantasy">Fantasy</a>
                    <a href="/blog">Blog</a>
                    <% if logged_in?%>
                        <a href="/account">Account</a>
                    <% else %>
                        <a class="header-login" href="/login">Log In</a>
                        <a class="header-signup" href="/signup">sign up</a>
                    <% end %>
                    <a href="https://wiki.fencingdatabase.com">Wiki</a>
                </div>
                <div id="hamburger-menu" class="hamburger-menu">
                    <input id="hamburger-helper">
                    <img src="https://clips.fencingdatabase.com/icons/swordbuger.svg">
                </div>
        </header>
        <div class="content">
            <%= yield %>
        </div>
        <footer class="footer">
            <div class="footer-links">
                <a href="https://gitlab.com/sdubinsky/fencing-database" target="_blank">Gitlab</a> |
                <a href="https://ko-fi.com/fencingdatabase" target="_blank">Buy me coffee!</a> |
                <a href="https://patreon.com/fencingdatabase" target="_blank">Patreon</a> |
                <a href="https://fencingdatabase.redbubble.com" target="_blank">Merch</a> |
                <a href="https://amberhelsel.com">Design: Amber Helsel</a>
            </div>
        </footer>
        <script type="text/javascript" src="<%=url("js/hamburger.js") %>"></script>
    </body>
</html>
