<link rel="stylesheet" type="text/css" href="<%=url("css/login.css")%>" >
<form class="login-form" id="login-form" action="login" method="POST">
    <label for="login-username" >Username: </label>
    <input type="text" id="login-username" name="login-username">
    <label for="login-password">Password: </label>
    <input type="password" id="login-password" name="login-password">
    <input type="text" name="url" value="<%= params['url'] %>" hidden>
    <input type="submit" value="Log In" class="btn btn-default submit">
</form>
