<link rel="stylesheet" type="text/css" href="<%=url("css/login.css")%>" >
<form class="login-form" id="login-form" action="check_login" method="POST">
    <label for="login-username" >Username: </label>
    <input type="text" id="login-username" name="login-username">
    <label for="login-password">Password: </label>
    <input type="text" id="login-password" name="login-password">
    <input type="submit" value="Log In" class="btn btn-default">
</form>
