<link rel="stylesheet" type="text/css" href="<%=url("css/reel.css")%>" >
<div class="reel-info reel-title"><%= @reel.title %><p/></div>
<div class="reel-info reel-author"><div class="reel-info-subheader">Author:</div> <%= @reel.author %><p/></div>
<div class="reel-info reel-count"><div class="reel-info-subheader">Selected Clips:</div> <%=  @clip_count %><p/></div>
<div class="reel-info reel-length"><div class="reel-info-subheader">Length:</div> <%= @hours.to_s + ":" + @minutes.to_s + ":" + @seconds.to_s %><p/></div>
<div class="reel-info reel-unreviewed"><div class="reel-info-subheader">Unreviewed clips:</div> <%= @unsorted_clip_count %><p/></div>
<div class="button-list">
    <div class="reel-nav-button"><a href="/reels/<%=@reel.id%>/judge" ><button type="button">Select Clips</button></a></div>
    <div class="reel-nav-button"><a href="/reels/<%=@reel.id%>/export.sh" ><button type="button">Export Reel</button></a></div>
    <div class="reel-nav-button"><a href="/reels/<%=@reel.id%>/upload" ><button type="button">Upload For Me</button></a></div>
    <div class="reel-nav-button"><a href="/reels/<%=@reel.id%>/newround"><button type="button">Start a new round</button></a></div>
    <div class="reel-nav-button"><a href="/reels/help"><button type="button">Help</button></a> </div>
    <div class="new-round-info">(reject all unreviewed clips,<br/>then unmark all selected clips)</div>
</div>
