<script id='report_error' src="<%= url("js/report_error.js")%>" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="<%=url("css/reel_clip.css")%>" >
<link rel="preload" as="fetch" href="https://clips.fencingdatabase.com/<%= @next_clip[:tournament_id]%>/<%=@next_clip[:gfycat_gfy_id] %>.mp4">
<div id="next-clip"><%=@next_clip.gfycat_gfy_id %></div>
<script id="highlight_clip_js" src="<%= url("js/highlight_clip.js") %>" type="text/javascript"></script>
<div class="reel-clip-info">
    <div class="video">
        <video class="video media" id="video-<%= @clip[:gfycat_gfy_id] %>" alt="fencing gfy" autoplay muted loop  tabindex="-1">
            <source src="https://clips.fencingdatabase.com/<%=@clip[:tournament_id] %>/<%= @clip[:gfycat_gfy_id] %>.mp4" type="video/mp4" >
            <meta itemprop="contentUrl" content="https://clips.fencingdatabase.com/<%= @clip[:tournament_id] + '/' + @clip[:gfycat_gfy_id] %>.mp4">
        </video>
    </div>
    <div class="clip-subtext">
        <% if params['reported'] %>
            <div class="report-error">
                Thank you!
            </div>
        <% else %>
            <div id="report-error" class="report-error" onclick="reportError('<%= @clip.gfycat_gfy_id %>');"">
                <a href="#">Report Error</a>
            </div>
        <% end %>
    </div>
    <div class="<%=params['id']%>" id="reel-id-div"></div>
    <div class="<%=@clip[:gfycat_gfy_id]%>" id="clip-id-div">
        <h3><a href="/clip/<%=@clip[:gfycat_gfy_id]%>"><%=@clip[:gfycat_gfy_id]%></a></h3></div>
    (<%= @clip_count %> clips chosen, <%= @unsorted_clip_count%> left)<p/>
    <p>
        Hit the left arrow key or n to reject the clip, hit the right arrow key or y to keep it.  Hit the down arrow key to look at it again later.
    </p>
</div>
<form id="submitForm">
