<% if @error_message %>
    <div class="error-message">Error: <%= @error_message %></div>
<% end %>
<form class="reset-password-form" id="reset-password-form" action="/account/reset_password" method="POST">
    <label for="reset-password-password">New Password: </label>
    <input required type="password" id="reset-password-password" name="reset-password-password">
    <label for="reset-password-password-two">Same Password Again: </label>
    <input required type="password" id="reset-password-password-two" name="reset-password-password-two">
    <input type="submit" value="Reset Password" class="btn btn-default">
</form>
