<link rel="stylesheet" type="text/css" href="<%=url("css/search_form_partial.css")%>" >
<div class="search-question search-firstname">
    <label for="firstname" class="form-label h4">First Name: </label>
    <input class="form-control form-control-lg search-form-question" type="text" id="firstname" name="firstname" value="<%=params['firstname']%>"/>
</div>
<div class="search-question search-lastname">
    <label for="lastname" class="form-question form-label h4">Last Name: </label>
    <input class="form-control form-control-lg search-form-question" "type="text" id="lastname" name="lastname" value="<%=params['lastname']%>"/><br />
</div>
<div class="search-question search-weapon" >
    <label for="weapon" class="form-label h4" >Weapon: </label>
    <select class="form-control search-form-question" id="weapon" name="weapon">
        <option id="weapon" value="all">All</option>
        <option id="weapon" value="epee">Epee</option>
        <option id="weapon" value="sabre">Sabre</option>
        <option id="weapon" value="foil">Foil</option>
    </select>
</div>
<div class="search-question search-gender" >
    <label for="gender" class="form-question form-label h4">Gender</label>
    <select class="form-control search-form-question" id="gender" name="gender" >
        <option id="gender" value="all" selected>All</option>
        <option id="gender" value="female" >Female</option>
        <option id="gender" value="male" >Male</option>
    </select>
</div>
<div class="search-question search-tournament">
    <label for="tournament" class="form-question form-label h4">Tournament: </label>
    <select class="form-control search-form-question" id="tournament" name="tournament" selected="<%=params['tournament']%>" >
        <option id="tournament" value="all">All</option>
        <% @tournaments.each do |tournament| %>
            <% selected = tournament.tournament_id == params['tournament'] ? 'selected="selected"' : "" %>
            <option class="search-form-question" id="tournament" value="<%=tournament.tournament_id%>" <%= selected %>><%=tournament.tournament_name + ", " + tournament.tournament_year + " (#{tournament.weapon})" %></option>
        <% end %>
    </select>
</div>
<div class="search-question search-year">
    <label for="year" class="form-question form-label h4">Year: </label>
    <select class="form-control search-form-question" id="year" name="year" >
        <option id="year" value="all">All</option>
        <% @tournaments.distinct.select(:tournament_year).order_by(:tournament_year).reverse.each do |year| %>
            <option class="search-form-question" id="year" value="<%= year.tournament_year %>"><%= year.tournament_year %></option>
        <% end %>
    </select>
</div>
<div class="search-question search-opposing-score">
    <label for="opposing-score" class="form-question form-label h4">Opposing Score: </label>
    <select class="form-control search-form-question"  id="opposing-score" name="opposing-score" >
        <% 0.upto 14 do |i| %>
            <option name="opposing-score" id="<%= i.to_s %>" value="<%= i.to_s %>"><%= i.to_s %></option>
        <% end %>
    </select>
</div>
<div class="search-question search-opposing-last-name">
    <label for="opposing-last-name" class="form-question form-label h4">Opponent's Last Name: </label>
    <input class="form-control form-control-lg search-form-question" "type="text" id="opposing-lastname" name="opposing-lastname" value="<%=params['opposing-lastname']%>"/><br />
</div>
