<link rel="stylesheet" type="text/css" href="<%=url("css/signup.css")%>" >
<% if @error_message %>
    <div class="error-message">Error: <%= @error_message %></div>
<% end %>
<form class="signup-form" id="signup-form" action="signup" method="POST">
    <div class="signup-field username">
        <label for="signup-username" >Username: </label>
        <input required type="text" id="signup-username" name="signup-username">
    </div>
    <div class="signup-field email">
        <label for="signup-email" >Email (we will never spam): </label>
        <input type="text" id="signup-email" name="signup-email">
    </div>
    <div class="signup-field password">
        <label for="signup-password">Password: </label>
        <input required type="password" id="signup-password" name="signup-password">
    </div>
    <div class="signup-field spam">
        <label for="spam-test">Please Type 'fencing' Below:</label>
        <input required type="text" id="spam-test" name="spam-test">
    </div>
    <div class="signup-field submit">
        <input type="submit" value="Sign Up" class="btn btn-default">
    </div>
</form>
