<link rel="stylesheet" type="text/css" href="<%=url("css/signup.css")%>" >
<form class="signup-form" id="signup-form" action="signup" method="POST">
    <label for="signup-username" >Username: </label>
    <input required type="text" id="signup-username" name="signup-username">
    <label for="signup-email" >Email (we will never spam): </label>
    <input type="text" id="signup-email" name="signup-email">
    <label for="signup-password">Password: </label>
    <input required type="text" id="signup-password" name="signup-password">
    <input type="submit" value="Sign Up" class="btn btn-default">
</form>
