.fantasy-details {
  display: grid;
  grid-template-columns: repeat(3, minmax(max-content, 20%));
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%;
  row-gap: 2rem;
  column-gap: 4rem;
}

.fantasy-header {
  text-transform: uppercase;
  text-decoration: underline;
}
