.content {
  margin-left: 30%;
  margin-right: 30%;
  font-size: 1.8rem;
  font-family: "Spectral";
}
h3 {
  text-decoration: underline;
}

table {
  width: 100%;
}

@media only screen and (max-device-width: 1000px) {
  .content {
    margin-left: 1%;
    margin-right: 1%;
  }
}
