.gfycat-info{
    text-align: center;
}

.gfycat-display {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 6em;
}

.media {
  max-width: 100%;
  max-height: 100%;
}

.clip-subtext {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.random-clip {
  justify-self: right;
}

.clip-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 2em;
  width: 80%;
}

.clip-form-intro {
  grid-column: 1 / 3;
}

.initiated {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 1000px) {
  .gfycat-display {
    grid-template-columns: 1fr;
  }

  .media {
    margin: unset;
  }

  .clip-form-div {
    width: 95%;
  }
}
