.gfycat-display {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 6em;
    margin-left: 2em;
}

.gfy-title{
  text-align: center;
  font-size: 1.8em;
}

.update-form {
  margin-top: 4em;
}

.error-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4em;
    margin-right: 2em;
}

select {
  width: 15em;
  background-color: white;
  height: 3em;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.score {
  width: 3em;
}
