.fantasy-submission-form {
  display: grid;
  grid-template-columns: repeat(3, minmax(max-content, 20%));
  justify-content: center;
}

.entries-header {
  text-transform: uppercase;
  font-size: large;
}

.fantasy-title {
  text-transform: capitalize;
  text-decoration: underline;
  text-align: center;
}

.submission-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-content: center;
  column-gap: 3rem;
}
