.fantasy {
  display: grid;
  grid-template-areas:
    ". fantasy-header fantasy-header ."
    ". competitions fantasy-leaderboard ."
    ". fantasy-rules fantasy-rules ."
    ". fantasy-credit fantasy-credit .";
  width: 100%;
  grid-template-columns: 0.3fr 1fr 1fr 0.3fr;
  column-gap: 3rem;
  font-size: 1.5rem;
}

.fantasy-subtitle {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
}

.fantasy-header {
  justify-self: center;
  grid-area: fantasy-header;
}

.leaderboards {
  grid-area: fantasy-leaderboard;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content;
  grid-auto-rows: max-content;
}

.fantasy-subheader {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-around;
}

.fantasy-subheader * {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid;
  font-size: 2rem;
  font-weight: bold;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.overall-header {
  border: 1px solid;
}

.upcoming-header {
  border: 1px solid;
}

.even-row {
  width: 100%;
}

.leaderboard-overall {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: max-content;
}

.leaderboard-single {
  display: none;
  justify-content: center;
  grid-template-columns: 1.5fr 0.5fr 1fr;
  grid-auto-rows: max-content;
}

.leaderboard-rarity {
  display: none;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: max-content;
}

.leaderboard-epee {
  display: none;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: max-content;
}
.leaderboard-foil {
  display: none;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: max-content;
}
.leaderboard-sabre {
  display: none;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: max-content;
}

.leaderboard-score {
  text-align: center;
}

.competitions {
  grid-area: competitions;
}

.fantasy-rules {
  grid-area: fantasy-rules;
  justify-self: center;
}

.fantasy-credit {
  grid-area: fantasy-credit;
  place-self: center;
}

.title {
  text-transform: uppercase;
}

.subtitle {
  text-transform: uppercase;
  text-decoration: underline;
}

.competition {
  display: grid;
  grid-auto-row: max-content;
  grid-template-columns: 1fr;
}

.previous-competitions {
  display: none;
}
