.intro {
  display: flex;
  justify-content: center;
}

.entries {
  display: grid;
  grid-template-columns: max-content;
  grid-template-rows: repeat(20, max-content);
  grid-auto-flow: column;
  grid-column-gap: 5rem;
  justify-content: center;
}

.entry {
  display: grid;
  grid-template-columns: max-content max-content;
  justify-content: space-between;
  column-gap: 1.5rem;
}

.seed-header {
  text-transform: uppercase;
  text-decoration: underline;
  text-align: center;
}
.seeds {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.seed {
  display: grid;
  grid-template-rows: max-content max-content max-content;
}

.seed-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}
