.fencers-form {
    display: grid;
    grid-template-columns: 30% 30%;
    justify-content: center;
}

.fencers-submit {
    grid-column: 1 / 3;
    display: flex;
    justify-content: center;
}

.fencer-list {
    display: grid;
    grid-template-columns: repeat(4, max-content);
    column-gap: 1.5em;
    row-gap: 1em;
    justify-content: center;
}

.opponent-detail {
    border-bottom: solid 1px;
}
