.fencer-info {
    display: flex;
    justify-content: center;
}

.fencer-bio{
    display: flex;
    flex-direction: column;
    margin-right: 2em;
}

.fencer-detail {
    margin-top: 1em;
    font-size: 1.5em;
}

.header {
    font-size: 1.7em;
    text-transform: uppercase;
    text-decoration: underline;
}

.fencer-partial {
    display: grid;
    grid-template-columns: repeat(7, minmax(max-content, 1fr));
    row-gap: 0.3em;
    margin-bottom: 2em;
}

.fencer-partial-header {
    grid-column: 1 / 8;
    display: flex;
    justify-content: center;
}
