.head-to-head-info {
    display: flex;
    justify-content: space-evenly;
}

.fencer-bio {
    display: flex;
    flex-direction: column;
    margin-right: 2em;
}

.fencer-detail {
    margin-top: 1em;
    font-size: 1.5em;
}

.head-to-head-bout {
    margin-top: 1em;
    font-size: 1.5em;
}

.header {
    font-size: 1.7em;
    text-transform: uppercase;
    text-decoration: underline;
}
