body {
  font-family: Raleway;
  font-size: 1.7em;
}

header a {
  text-decoration: none !important;
  color: inherit !important;
  border: none;
}

.header-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "title links";
  height: max-content;
  margin: 3rem 5rem 3rem 5rem;
}

.header-title img {
  grid-area: logo;
  height: 2em;
  margin-right: 6rem;
}

.header-content > * {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1.5em;
}

.header-title {
  grid-area: title;
  justify-self: left;
  display: flex;
  align-items: center;
  font-size: 3.5em;
  height: 100%;
}

.header-links {
  grid-area: links;
  justify-self: right;
  align-items: center;
  display: grid;
  font-size: 3rem;
  grid-template-columns: repeat(4, max-content);
  column-gap: 6rem;
}

.header-donate > a {
  outline: 2px solid;
  padding-left: 0.1em;
  padding-right: 0.1em;
}

.footer {
  clear: both;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  font-size: 12pt;
  text-align: center;
}

.footer-links{
  padding-top: 15px;
}

.even-row {
  background-color: lightblue;
}

@media (min-width: 1000px){
  .hamburger-menu {
    display: none;
  }
}

@media only screen and (max-width: 1000px) {
  .header-content {
    margin: 0.1rem;
    grid-template-columns: 1fr 1fr;
  }

  .header-site-name {
    display: none;
  }

  .header-title img {
    margin-right: inherit;
  }

  .header-links {
    display: none;
    position: absolute;
    width: 100%;
    text-align: center;
    grid-template-columns: 1fr;
    z-index: 2;
    margin: 0;
    grid-row-gap: 3em;
    background-color: white;
  }

  #hamburger-helper {
    display: none;
  }

  .hamburger-menu {
    grid-area: links;
    align-self: center;
    width: 100%;
    z-index: 3;
  }

  .hamburger-menu img {
    max-height: 3rem;
    float: right;
    margin-right: 20px;
  }
}
