.login-form {
  display: grid;
  grid-template-columns: max-content;
  justify-items: center;
  font-size: 2rem;
  justify-content: center;
}

.submit {
  margin-top: 5rem;
  width: 14rem;
  height: 6rem;
  font-size: 2.2rem;
  justify-self: center;
}
