.search-filter-form {
    display: grid;
    grid-template-columns: repeat(3, minmax(max-content, 20%));
    justify-content: center;
}

.search-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1 / 4;
}

.fencer-partial {
    display: grid;
    grid-template-columns: repeat(3, minmax(max-content, 1fr));
    row-gap: 0.3em;
    margin-bottom: 2em;
    margin-left: 15%;
    margin-right: 15%;
}

.fencer-partial-header {
    grid-column: 1 / 4;
    display: flex;
    justify-content: center;
}

.touches-display {
    display: flex;
    flex-direction: column;
}
.videos {
    display: flex;
    flex-flow: row wrap;
}

.video {
    margin-left: 2em;
    margin-top: 0;
    max-width: 40%;
    margin-bottom: 2em;
}

.media {
    max-width: 100%;
}

.touches-pagination {
    width: 100%;
    clear: both;
}

.paginate-btn {
    margin: 0.5em;
}

.paginate-prev {
    float: left;
    margin-left: 10%;
}

.paginate-next {
    float: right;
    margin-right: 10%;
}
