.error-message {
    color: red;
    font-size: 2em;
}

.signup-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 12em;
  grid-template-areas:
    "username password"
    "email spam"
    "submit submit";
}

.signup-field {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: max-content;
  justify-content: center;
  justify-items: center;
  font-size: 2rem;
}

.username {
  grid-area: username;
  justify-self: right;
}

.email {
  grid-area: email;
  justify-self: right;
}

.password {
  grid-area: password;
  justify-self: left;
}

.spam {
  grid-area: spam;
  justify-self: left;
}

.submit {
  grid-area: submit;
  justify-self: center;
  input {
    width: 8em;
    height: 2em;
    font-size: 1.2em;
  }
}
