.touches-filter {
    display: flex;
    justify-content: center;
}

.touches-form {
    display: flex;
    justify-content: center;
}

.touches-data {
    margin-left: 2em;
}

.touches-submit {
    display: flex;
    justify-content: center;
}

.touches-display {
    display: flex;
    flex-direction: column;
}
.videos {
    display: flex;
    flex-flow: row wrap;
}

.video {
    max-width: 40%;
    margin-left: 2em;
    margin-top: 0;
    margin-bottom: 2em;
}

.touches-pagination {
    width: 100%;
    clear: both;
}

.paginate-btn {
    margin: 0.5em;
}

.paginate-prev {
    float: left;
    margin-left: 10%;
}

.paginate-next {
    float: right;
    margin-right: 10%;
}

