.touches-filter {
    display: flex;
    justify-content: center;
}

.touches-form {
    display: flex;
    justify-content: center;
}

.touches-data {
    margin-left: 2em;
}

.touches-submit {
    display: flex;
    justify-content: center;
}

.submit-btn {
    border: 1px solid grey;
}


