<link rel="stylesheet" type="text/css" href="<%=  url("css/blog.css")%>"><h1 id="whos-the-best-fencer-of-the-20232024-season">Who’s The Best
    Fencer Of The 2023/2024 Season?</h1>
<p>There’s a lot of ways to answer the question, but inspired by a question on the GP Fencing discord I’m going to answer it by who won the highest percentage of touches. What this means is that if you win a bout 15-13, you scored 15 touches of a possible 28, or 53%. Expanded over a season, this ought to give a good estimate of who was the most dominant fencer. After all, the fencer who scores the most touches usually wins the bout. I ran the stats for overall and for top ten fencers in each weapon/gender combo.</p>
<p>Some interesting stuff here! The dominant athletes of the season are here - Kiefer, Balzer, Kong - but so are a lot of up-and-coming kids who popped off this season. I think this is an artifact of the bye system. If you’re in the top sixteen, you don’t fence the prelim rounds. If you’re close to the top sixteen, you get a relatively easy pool and are more likely to get a bye from that. If you’re just now getting good, you’ll have to fence all the prelim rounds but you’ll dominate. In other words, if you’re very good but weren’t last year you’ll have more bouts against people who are much worse than you.</p>
<p>One note on that - I don’t have all the prelim rounds recorded, just what was available with an overlay. I suspect the real data is even more skewed towards up-and-comers.</p>
<h2 id="womens-epee">Women’s Epee</h2>
<table>
 <thead>
  <tr class="header">
   <th>Win %</th>
   <th>Last Name</th>
   <th>First Name</th>
  </tr>
 </thead>
 <tbody>
  <tr class="odd">
   <td>60.0%</td>
   <td>BABA</td>
   <td>Haruna</td>
  </tr>
  <tr class="even-row">
   <td>59.3%</td>
   <td>XU</td>
   <td>Nuo</td>
  </tr>
  <tr class="odd">
   <td>58.8%</td>
   <td>CANDASSAMY</td>
   <td>MarieFlorence</td>
  </tr>
  <tr class="even-row">
   <td>58.2%</td>
   <td>TANG</td>
   <td>Junyao</td>
  </tr>
  <tr class="odd">
   <td>57.8%</td>
   <td>HUSISIAN</td>
   <td>Hadley</td>
  </tr>
  <tr class="even-row">
   <td>57.7%</td>
   <td>VARFOLOMYEYEVA</td>
   <td>Darja</td>
  </tr>
  <tr class="odd">
   <td>57.3%</td>
   <td>CHEN</td>
   <td>Chen</td>
  </tr>
  <tr class="even-row">
   <td>57.1%</td>
   <td>KONG</td>
   <td>Man Wai Vivian</td>
  </tr>
  <tr class="odd">
   <td>56.8%</td>
   <td>MALLO-BRETON</td>
   <td>Auriane</td>
  </tr>
  <tr class="even-row">
   <td>56.6%</td>
   <td>LEHIS</td>
   <td>Katrina</td>
  </tr>
 </tbody>
</table>
<h2 id="mens-epee">Men’s Epee</h2>
<table>
 <thead>
  <tr class="header">
   <th>Win %</th>
   <th>Last Name</th>
   <th>First Name</th>
  </tr>
 </thead>
 <tbody>
  <tr class="odd">
   <td>70.6%</td>
   <td>METRAILLER</td>
   <td>Clement</td>
  </tr>
  <tr class="even-row">
   <td>63.2%</td>
   <td>DJATSUK</td>
   <td>Filipp</td>
  </tr>
  <tr class="odd">
   <td>60.0%</td>
   <td>SVENSSON</td>
   <td>Jonathan</td>
  </tr>
  <tr class="even-row">
   <td>57.2%</td>
   <td>FREILICH</td>
   <td>Yuval Shalom</td>
  </tr>
  <tr class="odd">
   <td>57.1%</td>
   <td>IMREK</td>
   <td>Samuel</td>
  </tr>
  <tr class="even-row">
   <td>56.5%</td>
   <td>SOMODY</td>
   <td>Soma</td>
  </tr>
  <tr class="odd">
   <td>56.4%</td>
   <td>CUPR</td>
   <td>Michal</td>
  </tr>
  <tr class="even-row">
   <td>56.0%</td>
   <td>ITO</td>
   <td>Inochi</td>
  </tr>
  <tr class="odd">
   <td>55.7%</td>
   <td>KANO</td>
   <td>Koki</td>
  </tr>
  <tr class="even-row">
   <td>55.7%</td>
   <td>BOREL</td>
   <td>Yannick</td>
  </tr>
 </tbody>
</table>
<h2 id="womens-foil">Women’s Foil</h2>
<table>
 <thead>
  <tr class="header">
   <th>Win %</th>
   <th>Last Name</th>
   <th>First Name</th>
  </tr>
 </thead>
 <tbody>
  <tr class="odd">
   <td>61.3%</td>
   <td>POLOZIUK</td>
   <td>Alina</td>
  </tr>
  <tr class="even-row">
   <td>61.2%</td>
   <td>KIEFER</td>
   <td>Lee</td>
  </tr>
  <tr class="odd">
   <td>60.7%</td>
   <td>SINIGALIA</td>
   <td>Martina</td>
  </tr>
  <tr class="even-row">
   <td>60.6%</td>
   <td>FAVARETTO</td>
   <td>Martina</td>
  </tr>
  <tr class="odd">
   <td>60.0%</td>
   <td>TAKEZAWA</td>
   <td>Shiori</td>
  </tr>
  <tr class="even-row">
   <td>59.4%</td>
   <td>WALCZYK-KLIMASZYK</td>
   <td>Julia</td>
  </tr>
  <tr class="odd">
   <td>58.3%</td>
   <td>CANDESCU</td>
   <td>Rebeca</td>
  </tr>
  <tr class="even-row">
   <td>58.1%</td>
   <td>MURALIDHARAN</td>
   <td>Mayuri</td>
  </tr>
  <tr class="odd">
   <td>58.0%</td>
   <td>HARVEY</td>
   <td>Eleanor</td>
  </tr>
  <tr class="even-row">
   <td>57.6%</td>
   <td>ERRIGO</td>
   <td>Arianna</td>
  </tr>
 </tbody>
</table>
<h2 id="mens-foil">Men’s Foil</h2>
<table>
 <thead>
  <tr class="header">
   <th>Win %</th>
   <th>Last Name</th>
   <th>First Name</th>
  </tr>
 </thead>
 <tbody>
  <tr class="odd">
   <td>66.7%</td>
   <td>NISHIGUCHI</td>
   <td>Yasutaka</td>
  </tr>
  <tr class="even-row">
   <td>63.7%</td>
   <td>BIANCHI</td>
   <td>Guillaume</td>
  </tr>
  <tr class="odd">
   <td>63.6%</td>
   <td>BIBARD</td>
   <td>Tyvan</td>
  </tr>
  <tr class="even-row">
   <td>59.5%</td>
   <td>MASSIALAS</td>
   <td>Alexander</td>
  </tr>
  <tr class="odd">
   <td>58.4%</td>
   <td>HAMZA</td>
   <td>Mohamed</td>
  </tr>
  <tr class="even-row">
   <td>58.4%</td>
   <td>CHOI</td>
   <td>Chun Yin Ryan</td>
  </tr>
  <tr class="odd">
   <td>57.8%</td>
   <td>ROGER</td>
   <td>Wallerand</td>
  </tr>
  <tr class="even-row">
   <td>57.6%</td>
   <td>ITKIN</td>
   <td>Nick</td>
  </tr>
  <tr class="odd">
   <td>57.4%</td>
   <td>DOSA</td>
   <td>Daniel</td>
  </tr>
  <tr class="even-row">
   <td>56.7%</td>
   <td>IIMURA</td>
   <td>Kazuki</td>
  </tr>
 </tbody>
</table>
<h2 id="womens-sabre">Women’s Sabre</h2>
<table>
 <thead>
  <tr class="header">
   <th>Win %</th>
   <th>Last Name</th>
   <th>First Name</th>
  </tr>
 </thead>
 <tbody>
  <tr class="odd">
   <td>65.2%</td>
   <td>KATONA</td>
   <td>Renata</td>
  </tr>
  <tr class="even-row">
   <td>64.6%</td>
   <td>BALZER</td>
   <td>Sara</td>
  </tr>
  <tr class="odd">
   <td>63.0%</td>
   <td>MARTIS</td>
   <td>Sabina</td>
  </tr>
  <tr class="even-row">
   <td>62.0%</td>
   <td>BATTISTON</td>
   <td>Michela</td>
  </tr>
  <tr class="odd">
   <td>60.9%</td>
   <td>FU</td>
   <td>Ying</td>
  </tr>
  <tr class="even-row">
   <td>60.9%</td>
   <td>CHOI</td>
   <td>Sebeen</td>
  </tr>
  <tr class="odd">
   <td>59.2%</td>
   <td>NOUTCHA</td>
   <td>Sarah</td>
  </tr>
  <tr class="even-row">
   <td>59.1%</td>
   <td>FOX-GITOMER</td>
   <td>Chloe</td>
  </tr>
  <tr class="odd">
   <td>58.8%</td>
   <td>GKOUNTOURA</td>
   <td>Theodora</td>
  </tr>
  <tr class="even-row">
   <td>58.1%</td>
   <td>SEO</td>
   <td>Jiyeon</td>
  </tr>
 </tbody>
</table>
<h2 id="mens-sabre">Men’s Sabre</h2>
<table>
 <thead>
  <tr class="header">
   <th>Win %</th>
   <th>Last Name</th>
   <th>First Name</th>
  </tr>
 </thead>
 <tbody>
  <tr class="odd">
   <td>64.3%</td>
   <td>SZATMARI</td>
   <td>Andras</td>
  </tr>
  <tr class="even-row">
   <td>59.2%</td>
   <td>SZILAGYI</td>
   <td>Aron</td>
  </tr>
  <tr class="odd">
   <td>58.7%</td>
   <td>ARFA</td>
   <td>Fares</td>
  </tr>
  <tr class="even-row">
   <td>58.6%</td>
   <td>GU</td>
   <td>Bongil</td>
  </tr>
  <tr class="odd">
   <td>57.9%</td>
   <td>ELSISSY</td>
   <td>Ziad</td>
  </tr>
  <tr class="even-row">
   <td>57.7%</td>
   <td>SATTARKHAN</td>
   <td>Nazarbay</td>
  </tr>
  <tr class="odd">
   <td>57.3%</td>
   <td>APITHY</td>
   <td>Bolade</td>
  </tr>
  <tr class="even-row">
   <td>56.8%</td>
   <td>PATRICE</td>
   <td>Sebastien</td>
  </tr>
  <tr class="odd">
   <td>55.8%</td>
   <td>MARTINE</td>
   <td>Thomas</td>
  </tr>
  <tr class="even-row">
   <td>55.7%</td>
   <td>HEATHCOCK</td>
   <td>Colin</td>
  </tr>
 </tbody>
</table>
