<link rel="stylesheet" type="text/css" href="<%=  url("css/blog-index.css")%>">
<div class="blogs">
    <div class="blog">
        <h2><a href="/blog/bestfencers2024">The Best Fencers Of The 2023/2024 Season</a></h2>
        <div class="blog-snippet">
            A quick look at who won the highest percentage of touches in 2023/2024.
        </div>
        <h2><a href="/blog/tencommandments">The Ten Commandments Of Videoing Fencing</a></h2>
        <div class="blog-snippet">
            Taking fencing video is hard.  This will make it easier.
        </div>
        <h2><a href="/blog/pickemmar222024">Pick 'Em March 22</a></h2>
        <div class="blog-snippet">
            Who to pick for fantasy fencing for the weekend of March 22!
        </div>
        <h2><a href="/blog/pickemmar152024">Pick 'Em March 15</a></h2>
        <div class="blog-snippet">
            Who to pick for fantasy fencing for the weekend of March 15th!
        </div>
        <h2><a href="/blog/pickemmar82024">Pick 'Em March 8</a></h2>
        <div class="blog-snippet">
            Who to pick for fantasy fencing for the weekend of March 8th!
        </div>
        <h2><a href="/blog/pickemmar12024">Pick 'Em March 1</a></h2>
        <div class="blog-snippet">
            Who to pick for fantasy fencing for the weekend of March 1st!
        </div>
        <h2><a href="/blog/pickemfeb182024">Pick 'Em Feb. 18</a></h2>
        <div class="blog-snippet">
            Who to pick for fantasy fencing for the weekend of February 18!
        </div>
        <h2><a href="/blog/pickemfeb92024">Pick 'Em Feb. 9</a></h2>
        <div class="blog-snippet">
            Who to pick for fantasy fencing for the weekend of February 9!
        </div>
        <h2><a href="/blog/pickemjan212024">Pick 'Em Doha</a></h2>
        <div class="blog-snippet">
            Who to pick for fantasy fencing in Doha 2024!
        </div>
        <h2><a href="/blog/tempo">Distance And Tempo In Fencing</a></h2>
        <div class="blog-snippet">
        Distance and tempo are two of the most important and commonly mentioned concepts in modern fencing, yet most people seem to have only a nebulous idea of what they are. Coaches love to yell them at their students, but have great difficulty really explaining what they mean.  Let's talk about what they really mean.
        </div>
    </div>
</div>
