<link rel="stylesheet" type="text/css" href="<%=  url("css/blog.css")%>">
<h1>Pick ’Em Fantasy March 8</h1>
<p>New feature!  In addition to how many people picked them, the fantasy results list now shows how many points they scored.  So, for example, if you were one of the 12 people who picked Szilagyi for some reason, you can see you only got two points for it.  He's washed, I tell you.  On the other hand, if you picked reigning world #1 <a href="https://www.youtube.com/watch?v=hxNE6KsctBU">Sara Balzer</a>, you should feel pretty smug.  If you're not sure what fantasy is, <a href="/fantasy/help">go here</a>.  On to Budapest!
<h2>Budapest</h2>
<p>Olympic qualification ends, I believe, April 1.  This is the last tournament before that, but most positions are already locked in.  Still, lots of people going for that outside chance.</p>
<p>On the men's side, everyone in the top ten is going, one way or another, so now the fight is over seeding.  I think Cuomo has been underperforming a bit, but everyone else is a good option.  I'm going with Freilich, who died the least to the randomness in Heidenheim, but it could be anyone.</p>
<p>  In the middle column, Limardo Gascon and Middleton did the best in Heidenheim.  Budapest was Cohen's breakout tournament last year, so he's looking to repeat.  Beran is the closest to catching Freilich for the European individual spot.  I think Yamada for me, though.  He's a savvy vet and a consistent performer.</p>
<p>Borel hasn't quite gotten back to his "best in the world" ranking, but he's consistently outperforming his seed, and once again I think picking anyone else would be a mistake.</p>
<p>On the women's side, it's now March and Kong has yet to lose in 2024.  She's beatable but by whom?  If you like the rarity-weighted leaderboard, then Moellhausen, Kun, or Song are good picks for second place.</p>
<p>The middle column has upset girls Hsieh and Xiao, both of whom have put on the occasional stellar performance this season.  Ndolo and Fiamingo represent the old guard, but Ndolo has fallen off a bit since switching to Kenya.  I like Hsieh, so I'm going with her again.</p>
<p>The last set is pretty much seeded accurately.  The higher the seed, the better the fencer.  I'm going with Choi and not thinking too much about it.</p>
<p>Get your picks in <a href="/fantasy">here</a> and as always, good luck!  If you enjoy or appreciate my work here, <a href="https://ko-fi.com/fencingdatabase"> why not buy me a coffee?</a></p>
