<link rel="stylesheet" type="text/css" href="<%=  url("css/blog.css")%>">
<h1>Pick ’Em Fantasy March 22</h1>
<p>Coming down to the wire, as we hit the final series of events before Olympic qualification closes.  Sabre men are in Budapest, where Olympic qualification is even murkier after US Fencing opened an investigation into the cheating scandal.  Epee men are in Tbilisi, and epee women are in Chengdu.  <a href="https://www.fencingdatabase.com/fantasy">Let's get picking!</a></p>
<h2>Budapest</h2>
<p>Spanish phenom Santiago Madrigal got a highlight win over Bazadze last time, but was overshadowed by American phenom Heathcock winning the whole damn thing.  Are Bazadze and Szilagyi washed?  Are they saving energy for Paris?  Or did they study the tape and will come back even stronger?  I'm a fan of Heathcock's, and <a href="https://youtu.be/ShVkXFZHsfQ">his bout against Patrice</a> in Padua gets my vote for bout of the year.  Heathcock for me here, and Patrice in the next column.  In the third column, Ha has never quite lived up to his potential(weird to say about someone top 30), but I have a good feeling about him.  And, you know, he's never been accused of cheating.</p>
<h2>Chengdu</h2>
<p>Queen Kong was finally defeated, but don't let that fool you.  She's still the queen of epee.  Without home court advantage, I don't think Kun is winning again.</p>
<p>Seems like every time we do this another American sneaks into the top 30.  They've more or less guaranteed their spot in the Olympics, but it's still a tough race for the spots on the team.  Kasia Nixon and Anne Cebula are both here in the top 20, but it's actually internal US rankings that matter, not FIE rankings.  Still, I'm not a huge fan of either of their styles.  I've been picking Hsieh consistently, and I'm going to keep doing it, but anyone here is a good pick.</p>
<p>Lots of good names in the third column, which feels like a lot of wily vets hanging on for one more run.  Kirpu did best in Budapest, so she's my pick, but anyone can pop off one last time.</p>
<h2>Tbilisi</h2>
<p>Great results from Koch, to take world #1, but Borel showed us why we should never count him out.  Unfortunately, the days of free points for picking him are over, as he's back in the first column.  A true murderer's row, but I'm going with him again.  The seeding jump means Tbilisi will be even easier for him.  Borel's rise is Minobe's fall, and now he drops to the second column.  He's our new pick for free points!  Rodriguez is a tempting pick after so long in the top ten, and he fits the "if they're going to the Olympics pick them" rule.  Still, I'm going to take a swerve here and say Loyola's shocking upset in Budapest is going to make him perform extra well in Tbilisi.</p>
<p>Get your picks in <a href="/fantasy">here</a> and as always, good luck!  If you enjoy or appreciate my work here, <a href="https://ko-fi.com/fencingdatabase"> why not buy me a coffee?</a></p>
