<link rel="stylesheet" type="text/css" href="<%=  url("css/blog.css")%>">
<h1 id="pick-em-fantasy-doha-epee">Pick ’Em Fantasy Doha Epee</h1>
<p>I’m trying out a new feature where I recommend picks for <a
href="/fantasy">fantasy fencing</a>. I make no guarantees on the
accuracy of my picks; on the other hand, I <strong>am</strong> at the
top of the leaderboard. This week there are only two events, Doha men
and Doha women. Let’s get started!</p>
<h2 id="doha-men">Doha Men</h2>
<h3 id="section">1-10</h3>
<p>Just close your eyes and pick someone. This top ten is stacked. I
personally am going with Kano, but any of Cannone, Di Veroli, Siklosi,
or <a href="https://www.youtube.com/watch?v=KwwPDH61E0o">Minobe</a> are
safe bets too. Koch won champs last year.</p>
<h3 id="section-1">11-20</h3>
<p>I’m torn here between Bayard and Komata, both of whom I have good
feelings about. Bayard did better in Vancouver, so I’m going with him.
Other options that jump out at me are recent top-tenner Rodriguez,
Pereira, and Limardo Gascon. Elsayed is the cynical pick. Top tip for
this row - the first six are guaranteed a spot in the 64, so that’s free
points.</p>
<h3 id="section-2">21-30</h3>
<p>I’d pick <a
href="https://www.youtube.com/watch?v=8KhNBsNpZn8">Borel</a> if he was
in the 1-10 slot. Having him all the way down here is a steal. Other
options: Vancouver champ Midelton, Israeli phenom Cohen, another
Limardo.</p>
<h2 id="doha-women">Doha Women</h2>
<h3 id="section-3">1-10</h3>
<p>I’m a huge <a
href="https://www.youtube.com/watch?v=Av04zK8Ed54">Moellhausen</a> fan.
Song fences like she has an extra inch on her French grip, Candassamy
won Worlds, and Fiamingo makes it work despite being a foot shorter than
everyone else.</p>
<h3 id="section-4">11-21</h3>
<p>Xiao shone in her hometown event, taking names all through Vancouver,
but I wasn’t extremely impressed with her fencing. I’m going to take a
swerve here and go with Ndolo. Holmes in one last hurrah is another good
option.</p>
<h3 id="section-5">21-30</h3>
<p><a href="https://www.youtube.com/@kaylinhsieh">Hsieh</a> posts some
fun vlogs, and I like her fencing. Kirpu is underrated for this slot,
although not as badly as Borel, and everyone else is about the same
level - a threat, but not a big one.</p>
<p>For reference, thats: Kano, Bayard, Borel, Moellhausen, Ndolo, Hsieh
for me. Good luck to everyone!</p>
