<link rel="stylesheet" type="text/css" href="<%=  url("css/blog.css")%>">
<h1>Pick ’Em Fantasy March 1</h1>
<p>Bit of a rough week for fantasy picks everywhere, but especially in Heidenheim.  Something about that tournament always goes very random.  This week is sabre's turn to shine, with the men in Padua and the women in Athens.</p>
<h2>Athens</h2>
<p>I'm not sure where she's been, but world #1 Sara Balzer is finally back.  She's somehow over 30 points clear of #2 Gkountoura, even after missing the last few tournaments.  Picking against her, when she's rested, is a mistake.</p>

<p>Top of the second list is Magda Skarbonkiewicz, who I think is one of the most impressive young fencers we've seen in a long time.  I'm going with her, but Bashta, Mormile, or Gregorio are also good picks.</p>

<p><a href="https://www.youtube.com/watch?v=iiD3I008Xrg">Getting called out</a> has done very little to cut down on the cheating and corruption in sabre.  The best we can do is continue to shine a spotlight on it and hope something gives.  To that end, the cynic's pick continues to be Nazlymov, hanging on to a spot in the top 30 by her fingernails.  If you're feeling more optimistic, Erbil and Pusztai have had great results recently.  I'm a bit of a sentimentalist, so I'm going with long-time great Berder in what is likely to be her last cycle.</p>

<h2>Padua</h2>

<p><a href="https://www.youtube.com/watch?v=dxxA2mp8dm8" > Spicy spicy stuff</a> in Tbilisi, especially in the Patrice-Bazadze bout.  Szilagyi pulled out the win, putting on an impeccable performance, but after some questionable calls Bazadze remains #1 overall.  Either of them are great picks, but if you like the unique leaderboard Patrice is definitely coming for revenge.  Szilagyi for me.</p>

<p>Since this is turning into a ranty column, I'd like to remind everyone that when Doddo went under Safesport investigation, his reaction was <a href="https://www.usatoday.com/story/sports/olympics/2023/07/17/american-fencer-andrew-doddo-investigated-safesport/70420733007/">"this happens to everyone."</a>  Anyway.  Gu Bon Gil is in the same category as Yannick Borel of "absolute steal when not in the first ten."  Pick him and don't think too much about it, but if you must, then Samele is an underrated fencer here who guarantees you top-64 points.</p>

<p>Blah blah, Saron the cynic's pick, blah blah, I'm even boring myself.  Teodosiu, Yildirim, Di Tella are the names that jump out at me here.  Teodosiu for me.</p>

<p>Get your picks in <a href="/fantasy">here</a> and as always, good luck!  If you enjoy or appreciate my work here, <a href="https://ko-fi.com/fencingdatabase"> why not buy me a coffee?</a></p>
