<link rel="stylesheet" type="text/css" href="<%=  url("css/blog.css")%>">
<h1>Pick ’Em Fantasy March 15</h1>
<p>Congrats to operation_torpedo, for topping both the men's and women's leaderboard for Budapest, as well as setting a new single-event record for the season with an incredible 117 points!  Keep it up, kid!  This week we have women's saber in Sint-Niklaas, and men's and women's foil in Washington, DC.
<h2>Sint-Niklaas</h2>
<p>Men's epee is an absolute madhouse where anyone can win.  Women's sabre is not like that.  World #1 Sara Balzer took a couple tournaments off, then came right back in and won again.  I'm confident picking her.  This whole top ten is likely to finish pretty near their seedings, so none of them are  bad picks, though.</p>
<p>Similarly with the second set.  They're there because they're the second best set of fencers in in the world.  Based on absolutely nothing but vibes, this late in the season I expect the stamina of young fencers to beat out the older crowd, so I'm going with Tartakovsky.</p>
<p>The third set is more interesting, and here is where you can pick up a lot of points.  Lots of fencers are here because they've had a lot of decent results and one breakout performance.  If you can find the repeat, you're golden.  I think I'm going with Marton, but Pusztai and Queroli are good options too.</p>
<h2>Washington, DC</h2>
<p>There were rumors that Meinhardt was going to retire after Tokyo to focus on med school, but here we are three years later and he's still top of the charts.  I suspect that for him, Massialas, and Foconi, at the least, this is their last-go round.  Do you figure they want to go out with a bang, or are they conserving energy for Paris?  Same as before, I'm going with youth over experience.  Marini for me.</p>
<p>I'm making a safe bet here and picking someone in the top 16 for the guaranteed points.  Llavador has the Americas spot right now, and he's probably fighting to keep it, so I'm going with him.</p>
<p>Sint-Niklaas is in Belgium, which I didn't know before writing this.  The best Belgian foilist is #58, so I'm not totally sure why they're hosting, but such is life.  Belgium is basically French, and so I'm going with Pauty for the discount home field advantage.  Sorry, Francophiles!  Please don't guillotine me.</p>
<p>In the same way Sara Balzer is the queen of women's sabre and Vivian Kong is the queen of women's epee, Lee Kiefer is the queen of women's foil.  She's good.  So is everyone else, but she's better.  Pick her.</p>
<p>Condolences to Francesca Palumbo , world #18, who is not going to the Olympics despite being one of the top 20 foilists because she's only the fifth best Italian.  The Italians could put together two full teams and both would be competitive at the Olympics.  Insane.  I'm picking her because she's going to be fighting her heart out to leapfrog Errigo and get a spot on the team.  Sinigalia will be doing the same, as will Scruggs for the Americans.  It's going to be a slaughterhouse out there.</p>
<p>Oh look.  Three more Italians.  That's another team that would do pretty well out there.  I guess we should all be eating more Italian food or something.  For this pick, I'm following a very simple rule I just made up: If there's only one Olympian out there, pick her.  In this last column, Flora Pasztor has an individual European spot, so I'm going with her.</p>
<p>Get your picks in <a href="/fantasy">here</a> and as always, good luck!  If you enjoy or appreciate my work here, <a href="https://ko-fi.com/fencingdatabase"> why not buy me a coffee?</a></p>
