<link rel="stylesheet" type="text/css" href="<%= url("css/blog.css") %>">
<h1 id="distance-and-tempo-in-fencing">Distance and Tempo in Fencing</h1>
<p>Distance and tempo are two of the most important and commonly mentioned concepts in modern fencing, yet most people seem to have only a nebulous idea of what they are. Coaches love to yell them at their students, but have great difficulty really explaining what they mean.</p>
<p>I think there is a lot of value in trying to define them more precisely, so that’s what I’m going to do here. It can help you understand why some actions are good sometimes and bad other times, and why people with seemingly simple, obvious gameplans still win. This discussion will be epee-centric, but the concepts are universal even if the details and motivating examples aren’t.</p>
<h2 id="tempo">Tempo</h2>
<p>A single tempo is the amount of time you spend committed to an action. In other words, a tempo is the time it takes you to decide to do an action, complete the action, and return to a state where you can do something else. For example, when you stick your arm out and lunge, you’re unable to do anything else until your front foot hits the ground. That’s a tempo. Not all tempos are created equal. Some are faster than others. This is mostly dependent on how big the action is. Big actions, like lunges or wild parries, are big commitments and long tempos. Small actions, like beats or feints, are smaller commitments and quicker tempos. For the rest of this article, we’ll stop using tempo and start using committed actions.</p>
<h2 id="distance">Distance</h2>
<p>As an extension of this idea, you can measure the distance between you and your opponent in terms of how many actions you need to perform in order to score a touch. For the purposes of this discussion, there are four distances to consider: 1. Infighting distance 2. Single-action (one-tempo) distance 3. Two-action (two-tempo) distance 4. out of distance</p>
<p>We’re not going to worry about infighting distance or being out of distance here, just one and two action distance. We’re also assuming that you and your opponent have about the same range, and are good at estimating the relative distances.</p>
<h2 id="single-action-distance">Single-Action Distance</h2>
<p>So what is single-action distance? It’s the distance where if you commit to an action, you can expect to score. This is not the same as “the most distance you can cover in a lunge.” You have to be close enough to score, and if you launch a max-distance lunge and your opponent is awake, you’re going to get parried. Single-action distance is where you can lunge and your opponent won’t be able to parry in time.</p>
<p>The whole essence of fencing, then, is to get into single-action distance.</p>
<h2 id="two-action-distance">Two-Action Distance</h2>
<p>Two-action distance is where you are when you’re fencing. It’s the distance you’re at when you’re trying to get into one-action distance. Why not just walk into one-action distance, though?</p>
<p>Remember that if you’re in one-action distance, by default your opponent is as well. When both fencers are in one-action distance, the result is either a double or a crapshoot where the winner is the first one to pull the trigger. So safely getting into one-action distance means doing it in such a way that you end up in one-action distance but your opponent doesn’t.</p>
<p>The thing is, while your one-action distance starts out the same as your opponent’s, it doesn’t stay that way. Each fencer’s one-action distance changes separately, dependent on what each fencer is doing. If you can get your opponent to commit to an action, their one-action distance vanishes. After all, they can’t commit to an action that will hit you while they’re committed to an action that won’t. What’s more, your own one-action distance increases. They can’t commit to an action that will stop your attack if they’re committed to an action already, meaning you can attack from farther away. My old coach used to talk about being a half-tempo ahead, which is the same idea from a different perspective.</p>
<p>There are two ways to make this happen. The first is to get your opponent to commit to a larger action - a slower action - than you’ve committed to. The second is to get your opponent to commit later than you do. Then your action finishes before theirs, leaving you free to score the touch.</p>
<h2 id="preparation">Preparation</h2>
<p>Actions designed to accomplish either of those objectives are called preparations, or preps. This section will list some examples of preparations, and explain how they fit into the model we’re building.</p>
<h3 id="feints">Feints</h3>
<p>Depending on the kind of feint, they can work either way. A smooth feint can get your opponent to begin their parry too late, leaving you a half-action ahead. Alternatively, an aggressive or well-timed feint can draw a bigger parry than necessary from your opponent, giving you the chance to score before they finish their action.</p>
<h3 id="beats">Beats</h3>
<p>Contrary to popular belief, beats aren’t about moving your opponent’s blade out of the way. They’re about providing a shock to their arm, freezing it in place for a moment. When their arm is frozen you’re free to start your next action, leaving you a half-action ahead if not more.</p>
<h3 id="invitations">Invitations</h3>
<p>Invitations are defined for our purposes as false openings you provide your opponent. In their simplest form, they’re just like a feint, except they’re aimed at drawing out an offensive action not a defensive one. On a more theoretical level, they’re the inverse of the concept - you make your opponent commit to an action from out of distance by tricking him into thinking his one-action range has expanded due to a mistake you’ve made.</p>
<h3 id="binds">Binds</h3>
<p>A bind means you’re in control of your opponent’s blade. Besides the obvious advantage, you’re forcing them to stay committed to their action for longer, while you’re free to riposte.</p>
<h3 id="off-speed-attacks">Off-Speed Attacks</h3>
<p>This category includes bent-arm attacks and waiting lunges (where you pause just after beginning the lunge). They are rare in epee, but very common in foil. All of these are about convincing your opponent you’ve committed before you have, again leaving you a half-action ahead.</p>
<h2 id="variations-on-the-theme">Variations on the Theme</h2>
<p>What happens when you and your opponent aren’t equal? Well…take a look:         <video class="media" id="video-alarmedfortunateegret" alt="fencing gfy" autoplay muted loop tabindex="-1" src="https://clips.fencingdatabase.com/heidenheim2017/AlarmedFortunateEgret.mp4"/></p>
<p>Yulen Pereira, a great fencer in his own right, is so outclassed by Yannick Borel that his one-action distance (remember that one-action distance is before your opponent can stop you) is closer than Yannick’s teapot distance.</p>
<h2 id="conclusion">Conclusion</h2>
<p>After all that, tempo is just a fancy word for the time you spend committed to an action. What about distance? Can you hit your opponent without them stopping you? That’s one-action distance. Otherwise, you’re in two-action distance, and should focus on ways to increase your one-action distance, shrink your opponent’s, or both.</p>
<p>So what does this mean for you the fencer? Well, it’s another way to analyze fencing. Does what you’re trying to do help increase your one-action distance or decrease your opponent’s? If not, do you need to be doing it?</p>
