<link rel="stylesheet" type="text/css" href="<%=  url("css/blog.css")%>">
<h1 id="the-ten-commandments-of-videoing-fencing">The Ten Commandments
Of Videoing Fencing</h1>
<p>I watch a lot of fencing video. A lot of it is filmed by supportive
parents, friends, and various other non-fencers, and many of them make
the same mistakes. We should thank these people, but also help them do
better. Follow these rules and you will be happy, healthy, and have watchable footage.</p>
<h3 id="no-portrait-mode">1. No Portrait Mode</h3>
<p>I know it’s popular on Tiktok and Instagram. Fencing is a
side-to-side sport. Film it in landscape mode.</p>
<h3 id="keep-both-fencers-in-the-shot-at-all-times">2. Keep Both Fencers
in the Shot at All Times</h3>
<p>Both fencers matter. You can’t tell if someone is fencing well if you
can’t see what their opponent is doing.</p>
<h3 id="keep-the-box-in-the-shot">3. Keep the Box in the Shot</h3>
<p>The box is the thing in the middle with the lights and noises. If you
can’t keep it in the shot, pan to it whenever it goes off.</p>
<h3 id="keep-the-ref-in-the-shot">4. Keep the Ref in the Shot</h3>
<p>The ref decides who gets the point. If you can't keep them in the shot, pan to them whenever the box goes off. You can do these last two together.</p>
<h3>5. Get Close</h3>
<p>If you stand too far away, people will stand in front of you, and you'll miss everything.  Don't be afraid to bump shoulders a bit.</p>
<h3 id="upload-to-youtube">6. Upload to Youtube</h3>
<p>All other video sharing options are strictly worse. If you’re worried
about privacy, you can mark it as unlisted, then only people with the
link will be able to see it.</p>
<h3 id="shoot-in-at-least-720p">7. Shoot in at Least 720p</h3>
<p>Nobody wants to watch something filmed on a potato. If it’s not at
least 720p, you can’t see the blades.</p>
<h3 id="film-from-the-open-side">8. Film From The Open Side</h3>
<p>Your fencer’s torso will be open to one side. If at all possible,
film so that side is facing you.</p>
<h3 id="dont-stop-filming-after-every-touch">9. Don’t Stop Filming After
Every Touch</h3>
<p>It’s jarring to watch. Instead, continue recording for the whole
period, then stop for the minute break.</p>
<h3 id="film-from-the-center">10. Film From The Center</h3>
<p>Or as close as you can get without the ref being in the way. The
skewed perspective from the endlines makes it difficult to see the
actions.</p>
